body {
  font-family: Georgia;
}

h3 {
  color: white;
}

footer {
  align-content: center;
  display: block;
  box-sizing: border-box;
}

a {
  color: white;
}


.blockhead {
  padding-right: 1.5%;
}

.text-style {
  font-family: 'Lobster',cursive;
}

.menu-items{
  width: inherit;
}

.main {
  padding: 10px;
}

.container-fluid {
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
}

.col-md-4 {
  padding: 2%;
  background-color: white;
}

.padng {
  padding: 1.25%;
}

.about{
  padding: 20px;
}

.image-space {
  padding: 5%;
}

.food-left {
  text-align: right;
}

.orange {
  color: #F1A459;
}

.btn {
  font-size: 1.2em;
}

.btn-outline-primary {
  background-color: white;
}

/* The Overlay (background) */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #F15A29;
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden;
    transition: 0.5s;
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, the font-size changes and responds */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

#header {
  background-image: url("../img/backgrounds/landing.jpg");
}

#menu1 {
  padding: 0;
}

#happyParty {
  padding: 0;
}

#submitForm {
  background-image: url("../img/backgrounds/subscribe.jpg");
  padding-top: 10px;
  padding-bottom: 30px;
}

#tab-container {
  background-image: url("../img/backgrounds/foodsBg.jpg");
  padding-bottom: 40px;
}

#footer {
  text-align: center;
  padding: 25px;
}

#happy {
  background-color: white;
  color: grey;
  padding: 3.0%;
}

#party {
  color: white;
  background-color: #F15A29;
  padding: 3.0%;
}

#breakfast {
  background-image: url("../img/foodtop/breakfast.jpg");
}

#lunch {
  background: url("../img/foodtop/lunch.jpg");
}

#dinner {
  background-image: url("../img/foodtop/dinner.jpg");
}

#back-color {
  background-color: #e6e6e6;
  padding: 1.25%;
  font-size: 1.3em;
}

#main {
  color: white;
  font-family: 'Lobster', cursive;
  font-family: 'Oxygen', sans-serif;
  font-family: 'Bitter', serif;
}

#btn-left {
  background-color: inherit;
  border-color: none;
  border: none;
}
